    {% extends 'base.html'%}
    {% block content %}
    {% for cat in cats %}
        <div class="card text-center">
            <div class="card-header">
              Featured
            </div>
            <div class="card-body">
              <h5 class="card-title">{{ cat.name }}</h5>
              <p class="card-text">{{ cat.description }}</p>
              <p class="card-text"> Breed: {{ cat.breed }}</p>
              <a href="/cats/{{cat.id}}" class="btn btn-primary">View {{cat.name}}</a>
              <p>Adopted by:</p>
                <a href="/user/{{cat.user.username}}">{{cat.user.username}}</a>
            </div>
        </div>
    {% endfor %}
    {% endblock %}


    